<div class="main top-main">
  <div class="top-message">
    <h1>キャラメモ！</h1>
    <h2>Develop your own strategy.</h2>
    <%= link_to("メールアドレスで登録","/create_form")%>
    <p class="space">既に登録されている方は</p>
    <%= link_to("ログイン","/login_form",:style => "color:black")%>

  </div>
  <div class="middle-message">
    <h3 >キャラメモ！とは</h3>
    <p >キャラメモ！とは、大乱闘スマッシュブラザーズSPにおける
      キャラ対策用のメモサイトです。自分だけの対策を自分なりに編集し、まとめることができます。</p>
    <p>各キャラ毎に研究し、対策を練り、自分の戦い方を記録しましょう。</p>

  </div>
</div>
